# App
PORT=4000

# Model
GEMINI_API_KEY=AQ.Ab8RN6JScFZ96hNlWSH1PhtkKaICGi3caBqBI5kyA
GEMINI_MODEL=gemini-3.1-flash-lite

# Secrets
FACEBOOK_VERIFY_TOKEN=my-verify-token
FACEBOOK_PAGE_ACCESS_TOKEN=EAAkrsmAHWPABSWnzNNbAr1Y5vyc0kZC6MqwPBfjCJDF89jQoeMrOnFu7dWZAcvS1Vfl3GZBZBzTz7MvZBCaZB4re7BU9mZB6DZCHk2NFFq7Dck2sTRijZCob6zVhFhrI1mZBjRV4EABp0jkQNH7wYsDKJVO58aZBqs259xamPv6pWZCrmC585wwkPSEM2unwZDZD